body {
  font-family: 'Brush Script MT', cursive;
  margin: 0;
  padding: 0;
}

.introScreen div {
  text-align: center;
  vertical-align: middle;
}

.introScreen a {
  text-align: left;
  vertical-align: text-bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px;
}

.introScreen #cancelText {
  color: #FF0000;
}

.introScreen {
  height: 100vh;
  width: 100vw;
  border: 0px solid lightgreen;
  display: table-cell;
  vertical-align: middle;
  background: #093145;
  color: #ffffff;
}
